<link rel="stylesheet" href="css/registeration.css">
<h2 class="registeration-title">Sign Up</h2>
<form action="/registeration" method="POST" enctype="multipart/form-data">
    {{> user-form}}
    {{!-- <div class="row">
        <div class="col-6 first-col px-5">
            {{#if empty}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{empty}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}} --}}
            {{!-- {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            {{#if pass}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{pass}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            {{#if exist}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{exist}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            {{#if fail}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{fail}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{success}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            <br>
            <div class="text">
                <i class="bi bi-person-fill"></i>
                <input type="text" placeholder="First Name" name="f_name">
                <hr class="line">
            </div>
            <div class="text">
                <i class="bi bi-person-fill"></i>
                <input type="text" placeholder="Last Name" name="l_name">
                <hr class="line">
            </div>
            <div class="rollno">
                    <i class="bi bi-person-fill"></i>
                    <input type="text" placeholder="Roll No" name="rollno">
                    <hr class="line">
            </div>
            <div class="email-imput">
                <i class="bi bi-envelope-fill"></i>
                <input type="email" placeholder="Email" name="email">
                <hr class="line">
            </div>
            <div class="pass-input">
                <i class="bi bi-lock-fill"></i>
                <input type="password" placeholder="Password" name="password">
                <hr class="line">
            </div>
            <div class="pass-input">
                <i class="bi bi-lock-fill"></i>
                <input type="password" placeholder="Repeat your password" name="password2">
                <hr class="line">
            </div>
            <br>
            <button type="submit" class="registeration-btn">Next</button>
        </div>

        <div class="col-6 second-col">
            <div class="display"><img src="images/def-pic.jpg" class="rounded-circle"></div>
            <br>
            <input type="file" id="upload" name="profileimg" accept="image/*" />
            <br>
            <label for="upload"><i class="bi bi-cloud-arrow-up-fill"></i></label>
            <hr class="login-line">
            
            <div class="row row2">
                <select class="dd" name="university" id="university">
                    <option value="fast">FAST-NUCES</option>
                    <option value="nust">NUST</option>
                    <option value="lums">LUMS</option>
                    <option hidden="hidden" value="" selected>University</option>
                </select>
                <select class="dd" name="campus" id="campus">
                    <option value="lahore">Lahore</option>
                    <option value="islamabad">Islamabad</option>
                    <option value="faislabad">Faislabad</option>
                    <option hidden="hidden" value="" selected>Campus</option>
                </select> 
                <select class="dd" name="batch" id="batch">
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option hidden="hidden" value="" selected>Batch</option>
                </select>
                 <select class="dd" name="semester" id="semester">
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                    <option value="5">5th</option>
                    <option value="6">6th</option>
                    <option value="7">7th</option>
                    <option value="8">8th</option>
                    <option hidden="hidden" value="" selected>Semester</option>
                </select> 
                <select class="dd" name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option hidden="hidden" value="" selected>Gender</option>
                </select>
                <select class="dd" name="city" id="city">
                    <option value="lahore">Lahore</option>
                    <option value="islamabad">Islamabad</option>
                    <option hidden="hidden" value="" selected>City</option>
                </select>
                <div class="email-input2">
                <i class="bi bi-envelope-fill"></i>
                <input type="email" placeholder="Personal Email (optional)" name="personal-email">
                <hr class="line">
                </div>
                    {{!-- <div class="dropdown col-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            University
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">FAST-NUCES</button></li>
                        </ul>
                    </div>
                    <div class="dropdown col-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Campus
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">FAST-NUCES</button></li>
                        </ul>
                    </div>
                    <div class="dropdown col-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Semester
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">FAST-NUCES</button></li>
                            <li><button class="dropdown-item" type="button">BNU</button></li>
                            <li><button class="dropdown-item" type="button">NUST</button></li>
                        </ul>
                    </div>
                    <div class="dropdown col-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Semester
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Lahore</button></li>
                            <li><button class="dropdown-item" type="button">Islamabad</button></li>
                            <li><button class="dropdown-item" type="button">Faislabad</button></li>
                        </ul>
                    </div>
                    <div class="dropdown col-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Campus
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">FAST-NUCES</button></li>
                            <li><button class="dropdown-item" type="button">BNU</button></li>
                            <li><button class="dropdown-item" type="button">NUST</button></li>
                        </ul>
                    </div> --}}
            </div>
        </div>
    </div> --}}
</form>
<script src="javascript/registeration.js"></script>