<link rel="stylesheet" href="/css/wishlist.css">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"> <a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
  </ol>
</nav>
<div class="container-wishlist">
  <div class="heading">
    <div>
      <i class="bi bi-heart heart"></i>
    </div>
    <h1>My Wishlist</h1>
  </div>
  {{#if sess}}
  <script>
    let log = document.getElementById('log-btn');
    log.innerHTML = "Logout";
    let s = `/images/{{sess.image}}`
    document.getElementById('prof').src = s;
  </script>
  <div class="container table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Book Name</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Stock Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td><a href="/removeFromWishlist/{{this.bookid}}" type="button"><i class="bi bi-trash"></i></a></td>
          <td>
            <div>
              <a href="/product/{{this.Book_Id}}"><img class="book-img" src='/images/{{this.bImg}}' alt=""></a>
            </div>
          </td>
          <td>
            <p>{{this.Book_Name}}</p>
          </td>
          <td>{{this.Price}}</td>
          <td>{{this.In_Stock}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <script>
    let log = document.getElementById('log-btn');
    log.innerHTML = "Login";
  </script>
  <h1 class="log">You Are Not Logged In -.-</h1>
  {{/if}}
</div>